body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

.container {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border: 2px #000 solid;
}

div {
    width: 100px;
    height: 100px;
}