body {
    font-family: 'Open Sans', sans-serif;
}

#header {
    display: flex;
    width: 100%;
    justify-content: center;
}

.container {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
}

.container section {
    padding: 10px;
    border: 2px #000 solid;
}

div {
    width: 100px;
    height: 100px;
}