nav {
    background-color: #B2D8CE;
    padding: 5px 5px;
    display: flex;
    place-content: space-evenly;
}

h1 {
    color: #B2D8CE;
    text-align: center;
    font-weight: 700;
    text-decoration: #5459AC underline 4px;
    letter-spacing: 10px;
    font-size: 50px;


}

h2 {
    color: #B2D8CE;
    text-align: center;
    font-weight: normal;
    text-decoration: #5459AC underline 4px dotted;
}

h1,
h2 {
    /* left to right: decreased priority */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    color: darkslateblue;
    background-color: #B2D8CE;
    size: 20px;
}

#submit:hover {
    background-color: #FFCC00;
}

p {
    text-align: center;
    color: #B2D8CE;
    line-height: 2;
}

p::selection {
    background-color: #FFCC00;
    color: darkslateblue;
}

#download>a {
    align-content: center;
}

hr {
    color: #5459AC;
}

a {
    color: #FFCC00;
    text-decoration: none;
}

a:hover {
    color: #FFCC00;
    text-decoration: #FFCC00 underline;
}

label {
    color: #5459AC;
}

button:active {
    background-color: #B2D8CE;
}

nav input {
    background-color: #B2D8CE;
}

nav input:hover {
    background-color: #ffffff;
    color: black;
}

nav input:focus {
    background-color: #ffffff;
    color: black;
}

/* section.post -will only select section elements that have a class "post" */
/* a[href$=".org"] -selects all anchor that have hrefs ending with .org"